/**
 * Application global styles
 */
@import "bryntum-scheduler/scheduler.material.css";

html, body {
    height: 100%;
}

body {
    font-size: 14px;
    font-family: Lato, sans-serif;
    margin: 0;
}
app-root {
    padding: 0 8px;
}
bry-scheduler {
    flex : 1 1 300px;
    .b-grid-row {
        height : 100% !important;
    }
}

.grid-ct {
    height : 100%;
    display : block;
    flex : none;
    width : 300px;
}
.grid-equipment {
    width : 220px;
}

.grid-ct {
    .b-gridbase {
        flex        : none;
        border-left : 1px solid #e0e0e0;

        .b-grid-cell {
            cursor : pointer;
        }

        i {
            margin-right : 10px;
            color        : #4887e5;
        }
    }
}

.b-grid-header {
    height : 57px;
}
.b-unassigned-class.b-drag-proxy {
    background    : green;
    color         : #fff;
    border-radius : 3px;
    box-shadow    : 0 1px 1px 0 rgba(0, 0, 0, .25);
    align-items   : flex-start;
    padding-left  : .5em;

    &.b-drag-invalid {
        background : red;
    }
}

.b-aborting.b-unassigned-class {
    transition     : transform 0.3s !important;

    // https://app.assembla.com/spaces/bryntum/tickets/7168-drag-drop-cleanup-code-on-abort-is-interfering-with-animation/details#
    background     : red;
    position       : absolute !important;
    z-index        : 10000;
    pointer-events : none;
    opacity        : 0.8;
    box-sizing     : border-box;
}

.b-sch-event {
    border-radius : 3px;
    box-shadow    : 0 1px 1px 0 rgba(0, 0, 0, .25);
}

.reschedule-button {
    margin-right : 8px;
}
.equipment-container {
    width: 220px;
}

app-equipment-grid, app-extra-grid, app-user-grid {
    height      : 33%;
    display     : block;
    flex        : none;
    width       : 140px;
    border-left : 1px solid #e0e0e0;
}

.b-sch-event-wrap .b-sch-event {
    border-radius   : 3px;
    box-shadow      : 0 1px 1px 0 rgba(0, 0, 0, .25);
    flex-direction  : column;
    align-items     : flex-start;
    justify-content : space-around;
}
.b-grid#equipment {
    flex       : 0 0 140px;
    border-left : 2px solid #aaa;

    .b-grid-cell {
        cursor : pointer;
    }
}

app-equipment-grid {
    flex-direction  : column;
    justify-content : center;
}

.b-equipment {
    flex-direction  : column;
    justify-content : center;

    i {
        margin-right  : 10px;
        color         : #4887e5;
        font-size     : 2em;
        margin-bottom : 0.3em;
    }

    &.b-dragging {
        justify-content : center;
        background      : green;
        color           : #fff;

        i {
            color           : #fff;
        }
    }

    &.b-drag-invalid {
        background : red;
    }

}

.b-sch-event-header,
.b-sch-event-footer {
    display     : flex;
    flex        : 1;
    align-items : center;
}

.b-sch-event-footer {
    padding : 5px 0;
    margin  : 0;
    .b-chiper {
        margin-right: 5px;
        border: 1px solid #062c8a;
        border-radius: 15px;
        padding: 5px 10px;
        background-color: #4887e5;
    }
}

.b-grid-header {
    height: 80px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.b-filter-bar-field {
    margin : 0;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #eee;
    input {
        padding-left: 5px;
    }
}

.b-aborting.b-grid-cell {
    transition : transform 0.3s !important;

    // https://app.assembla.com/spaces/bryntum/tickets/7168-drag-drop-cleanup-code-on-abort-is-interfering-with-animation/details#
    background : red;
    position       : absolute !important;
    z-index        : 10000;
    pointer-events : none;
    opacity        : 0.8;
    box-sizing     : border-box;
}

// eof

